<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/footer.css" />
    <link rel="stylesheet" href="../assets/css/main.css" />
    <title>Footer</title>
  </head>
  <body>
    <div class="footer">
      <div class="footer-out">
        <div class="footer-top">
          <div class="footer-same">
            <img
              src="../assets/image/swop-main-logo.svg"
              alt="footer-logo"
              class="footerSwop-logo"
            />
            <div class="footer-first-content" id="footer-link-bottom">
              <h4 class="font-normal">
                Scan to
                <br />
                get swop
              </h4>
              <img src="../assets/image/footerQrCode.png" alt="footer-logo" />
            </div>
          </div>
          <div class="footer-same">
            <h4>Shop</h4>
            <div class="footer-link" id="footer-link-bottom">
              <a href="/">Custom product </a>
              <a href="/">Cards</a>
              <a href="/">Metal Cards</a>
              <a href="/">Swop XL</a>
              <a href="/">Swop Band</a>
            </div>
          </div>
          <div class="footer-same">
            <h4>Company</h4>
            <div class="footer-link" id="footer-link-bottom">
              <a href="/">Swop Pro </a>
              <a href="/">Ambassador </a>
              <a href="/">Distributor </a>
              <a href="/help">Help Center </a>
              <a href="/carrer">Career </a>
            </div>
          </div>
          <div class="footer-same">
            <h4>Legal</h4>
            <div class="footer-link" id="footer-link-bottom">
              <a href="/privacy">Privacy Policy </a>
              <a href="/terms">Terms Of Use </a>
              <a href="/refund-policy">Refund Policy </a>
            </div>
          </div>
          <div class="footer-inform-content">
            <h4>
              By subscribing we inform about <br />
              our new update
            </h4>
            <form onSubmit="{handleSubmit}" class="footer-link">
              <input
                type="email"
                class="subscribing-input"
                placeholder="Enter your email"
                required
              />
              <button type="submit" class="subscribing-btn">Subscribe</button>
            </form>
          </div>
        </div>
        <div class="footer-mid">
          <a href="/help">Help Center</a>
          <a href="/return-policy">Returns</a>
          <a href="/contact">Contact</a>
          <a href="/">News </a>
        </div>
        <div class="footer-bottom">
          <label>© 2022 - Copywrite Reserved by swopme.co</label>
          <div class="icon-footer">
            <a href="https://www.facebook.com/swopmeapp" target="blank">
              <img
                src="https://cdn-icons-png.flaticon.com/512/20/20837.png"
                alt="facebook"
              />
            </a>
            <a href="https://www.instagram.com/swopme.app/" target="blank">
              <img
                src="https://cdn-icons-png.flaticon.com/512/1384/1384031.png"
                alt="instagram"
              />
            </a>
            <a
              href="https://www.youtube.com/channel/UCohnJ2WcoSIEaLbk9jqqoeg"
              target="blank"
            >
              <img
                src="https://cdn-icons-png.flaticon.com/512/1384/1384086.png"
                alt="youtube"
              />
            </a>
            <a href="https://twitter.com/swopmeapp" target="blank">
              <img
                src="https://cdn-icons-png.flaticon.com/512/5968/5968958.png"
                alt="twitter"
              />
            </a>
            <a
              href="https://www.linkedin.com/company/swop-technologies/"
              target="blank"
            >
              <img
                src="https://cdn-icons-png.flaticon.com/512/2111/2111532.png"
                alt="linkedin"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
