<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/main.css" />
    <link rel="stylesheet" href="../assets/css/header.css" />
    <title>Header</title>
  </head>
  <body>
    <div class="nav-outside">
      <div class="nav-top">
        <label>Free Shipping For Orders Over $80 </label>
        <div class="nav-top-item">
          <ul>
            <li>
              <a href="/jobs">Jobs</a>
            </li>
            <li>
              <a href="/swopple">Swopple</a>
            </li>
            <li>
              <a href="/coming-soon">Whitepaper</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="nav-bottom">
        <button class="burger-button">
          <img
            src="https://cdn-icons-png.flaticon.com/512/8369/8369198.png"
            alt="burger-button"
          />
        </button>
        <button class="cross-button">
          <img
            src="https://cdn-icons-png.flaticon.com/512/1828/1828778.png"
            alt="cross-button"
          />
        </button>
        <a href="/">
          <img
            src="../assets/image/swop-main-logo.png"
            alt="swop-logo"
            class="nav-logo-size"
          />
        </a>
        <div class="nav-bottom-item" id="navMenu">
          <ul>
            <li>
              <input type="search" placeholder="🔎︎ Search here" id="search" />
            </li>
            <li>
              <a href="/store">Store</a>
            </li>
            <li>
              <a href="/features">features</a>
            </li>
            <li>
              <a href="/interactables">Interactables</a>
            </li>
            <li>
              <a href="/news">News</a>
            </li>
            <li>
              <a href="/builder">Builder</a>
            </li>
          </ul>
          <div id="border-line-bottom-menu"></div>
          <div class="menu-bottom-container">
            <div class="menu-bottom-card">
              <h6>Services</h6>
              <p>Unlock the world most advanced digital business card</p>
              <a href="/service">Learn more</a>
            </div>
            <div class="menu-bottom-card">
              <h6>Whitepaper</h6>
              <p>Manage your teams digital business card and others</p>
              <a href="/coming-soon">Learn more</a>
            </div>
          </div>
          <div class="app-logo-container">
            <img alt="google-app-logo" src="../assets/image/google.png" />
            <img alt="apple-app-logo" src="../assets/image/apple.png" />
          </div>
        </div>
        <a href="/cart" class="cart-position">
          <img
            src="https://cdn-icons-png.flaticon.com/512/34/34568.png"
            alt="cart"
          />
          <span class="cart-position-inside"> 2 </span>
          <label>Connect</label>
        </a>
      </div>
    </div>
    <script src="../assets/js/header.js"></script>
  </body>
</html>
