<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Interactables</title>
    <link rel="stylesheet" href="../assets/css/main.css" />
    <link rel="stylesheet" href="../assets/css/interactable.css" />
  </head>
  <body>
    <h1>
      Keep <span>Customers</span> Returning <br />
      With <span>Interactables</span>
    </h1>
    <div class="video">
      <video muted preload="auto" autoplay loop playsinline="">
        <source src="../assets/video/interactable.mp4" type="video/mp4" />
      </video>
    </div>
    <div class="shop-now-button">
      <a href="/shop"
        >Shop Now
        <img
          src="https://cdn-icons-png.flaticon.com/512/271/271226.png"
          alt="arrow-right"
          class="arrow-right"
      /></a>
    </div>
    <div class="interactable-brand-info">
      <div class="brand-info-reward">
        <h3>77%</h3>
        <p>Customers are loyal to brands with rewards</p>
      </div>
      <div class="brand-info-wallet">
        <h3>100M</h3>
        <p>Wallets Created</p>
      </div>
    </div>
    <div class="product-row-section">
      <div class="section-text">
        <h3>Embed Into <span>Products</span></h3>
        <p>
          Allow your brand to leave a lasting impression with your customers
          with interactables. Embed NFC chips into products to allow your brand
          to keep customers engaged.
        </p>
      </div>
      <div class="section-image">
        <img src="../assets/image/embed-products.png" alt="embed-products" />
      </div>
    </div>
    <div class="product-row-section">
      <div class="section-image-reverse">
        <img src="../assets/image/auth-product.png" alt="embed-products" />
      </div>
      <div class="section-text-reverse">
        <h3><span>Authenticate</span> Products</h3>
        <p>Allow your customers to</p>
      </div>
    </div>
    <div class="product-row-section">
      <div class="section-text">
        <h3><span>Viral</span> Experience</h3>
        <p>
          Automate and streamline where your customers go on point of contact
          and create interactions with your customers they will share.
        </p>
      </div>
      <div class="section-image">
        <img src="../assets/image/embed-products.png" alt="embed-products" />
      </div>
    </div>
    <div class="how-setup-interact">
      <h2>HOW TO SETUP A INTERACTABLE</h2>
      <p>
        We made it so simple to setup that its more complicated not to have.
        Save you and your <br />
        customers time by providing a simple way for you to interact with your
        customer
      </p>
      <img src="../assets/image/number.png" alt="number" class="number-setup" />
      <div class="how-setup-interact-cart">
        <div class="how-setup-interact-cart-inside">
          <img src="../assets/image/cardfillupload.gif" alt="cardfillupload" />
          <h4>Type Of <span>Interactable</span></h4>
          <p>
            To start decide where you want you route your customer. It can be a
            loyalty points, digital collectibles or something simple like a link
          </p>
        </div>
        <div class="how-setup-interact-cart-inside">
          <img src="../assets/image/cardshipnfc.gif" alt="cardshipnfc" />
          <h4>Program and <span>Embed</span></h4>
          <p>
            Next you just use the Swop app to program the NFC chip or
            proprietary dynamic QR and embed in the packaging or product.
          </p>
        </div>
        <div class="how-setup-interact-cart-inside">
          <img src="../assets/image/cardsfliptest.gif" alt="cardsfliptest" />
          <h4>Tap and <span>Interact</span></h4>
          <p>
            Now your customers can have loyalty points in a tap or authenticate
            products with Swop interactables
          </p>
        </div>
      </div>
    </div>
    <div class="interactive-frame">
      <div class="interactive-frame-text">
        <h3>
          Download the app <br />
          and start today!
        </h3>
        <div><a href="/">Get for Free</a></div>
        <p>*No credit card required</p>
      </div>
      <div class="interactive-frame-image"></div>
    </div>
  </body>
</html>
