.footer-out {
  padding: 30px;
  box-shadow: 0px 0px 31px rgb(0 0 0 / 12%);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #fff;
}
.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer-same h4 {
  margin: 0;
  font-weight: 600;
}
.icon-footer {
  display: inherit;
}
.icon-footer a {
  margin: 0px 3px;
}
.icon-footer a img {
  height: 20px;
  width: auto;
}
.footer-first-content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 12px;
}
.footer-first-content img {
  max-width: 100px;
  height: auto;
  margin-left: 10px;
  border: 0.5px solid #858585;
  border-radius: 10px;
}
.footer-link {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#footer-link-bottom {
  padding-top: 20px;
}

.footer-inform-content h4 {
  text-align: center;
  padding: 0px 25px;
}
/* ==============// extar for hover and focus effect //================= */
.footer-link a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}
.subscribing-input {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  padding: 0px 10px;
  font-weight: 600;
  border: 1px solid #000;
  transition: 0.5s ease;
}
.subscribing-input:focus {
  outline: none;
  border: solid 1px #858585;
  background-color: #c5c5c533;
  box-shadow: 0px 0px 8px 12px #ececec3d;
  transform: scale(1.01);
}
/* ==============// extar for hover and focus effect //================= */
.subscribing-btn {
  width: fit-content;
  border: 1px solid #fff;
  background-color: #000;
  color: #fff;
  padding: 12px 28px;
  border-radius: 15px;
  font-weight: 600;
  font-size: 15px;
  transition: 0.4s ease;
}
.subscribing-btn:hover {
  border: 1px solid #000;
  background-color: #fff;
  color: #000;
}
.footer-mid {
  text-align: right;
  margin-top: 30px;
  border-bottom: 1px solid #000;
}
.footer-mid a {
  color: #000;
  text-decoration: none;
  margin-left: 8px;
  margin-right: 8px;
  font-size: 12px;
  font-weight: 500;
}
.footer-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 35px;
  padding-bottom: 10px;
}
img.footerSwop-logo {
  max-width: 200px;
  height: auto;
}
.footer-mobile {
  display: none;
}
@media only screen and (min-width: 668px) and (max-width: 991px) {
  .footer-top {
    justify-content: center;
    gap: 25px;
  }
  .footer-same {
    width: 22%;
    text-align: center;
  }
  /* img.footerSwop-logo {
    max-width: 165px;
    height: auto;
  } */
  .footer-inform-content {
    width: 50%;
  }
  .subscribing-btn {
    width: auto;
  }
  .footer-first-content img {
    max-width: 86px;
  }
  .footer-mid {
    text-align: center;
  }
}
@media only screen and (min-width: 450px) and (max-width: 767px) {
  .footer {
    display: none;
  }
  .footer-mobile {
    display: block;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    box-shadow: 0px 0px 11px 11px #ebeaeaa8;
    padding: 30px;
  }
  .mobile-footer-top {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
  }
  .mobile-footer-logo {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .mobile-footer-logo p {
    font-weight: 600;
    font-size: 20px;
  }
  .mobile-footer-top .mobile-footer-qrcode {
    flex: 1;
    border: 1px solid;
    border-radius: 20px;
    max-width: 160px;
  }
  .mobile-footer-top form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 100%;
  }
  .subscribing-input {
    height: 45px;
    background-color: #e8e8e8;
    border: none;
    outline: none;
    padding: 0px 20px;
  }
  .subscribing-btn {
    padding: 10px 40px;
  }
  .mobile-hr {
    margin: 19px 0px;
  }
  .mobile-footer-bottom {
    display: grid;
    gap: 8px 0px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin-left: 10%;
  }
  .mobile-footer-bottom a {
    display: block;
  }
  .mobile-footer-bottom h4 {
    margin-bottom: 8px;
  }
  .icon-mobile-footer {
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
  }
  .icon-mobile-footer img {
    width: 24px;
    margin-top: 8px;
    margin-bottom: 2px;
  }
}
@media only screen and (min-width: 350px) and (max-width: 449px) {
  .footer {
    display: none;
  }
  img.footerSwop-logo {
    max-width: 140px;
  }
  .footer-mobile {
    display: block;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    box-shadow: 0px 0px 11px 11px #ebeaeaa8;
    padding: 30px;
  }
  .mobile-footer-top {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
  }
  .mobile-footer-logo {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .mobile-footer-logo p {
    font-weight: 600;
    font-size: 15px;
  }
  .mobile-footer-top .mobile-footer-qrcode {
    flex: 1;
    border: 1px solid;
    border-radius: 20px;
    max-width: 125px;
  }
  .mobile-footer-top form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    width: 100%;
  }
  .subscribing-input {
    height: 40px;
    background-color: #e8e8e8;
    border: none;
    outline: none;
    padding: 0px 20px;
  }
  .subscribing-btn {
    padding: 10px 40px;
  }
  .mobile-hr {
    margin: 19px 0px;
  }
  .mobile-footer-bottom {
    display: grid;
    gap: 8px 0px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin-left: 0%;
  }
  .mobile-footer-bottom a {
    display: block;
    font-size: 14px;
  }
  .mobile-footer-bottom h4 {
    margin-bottom: 8px;
  }
  .icon-mobile-footer {
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
  }
  .icon-mobile-footer img {
    width: 24px;
    margin-top: 8px;
    margin-bottom: 2px;
  }
}
