h1 {
  margin-top: 50px;
  font-size: 70px;
  font-weight: 600;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
h1 span {
  color: #b396ff;
}
.video {
  display: flex;
  justify-content: center;
}
video {
  width: 700px;
  height: auto;
  margin-top: 50px;
  border-radius: 5px;
  box-shadow: 5px 5px 20px 0px #00000040;
}
.shop-now-button {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.shop-now-button a {
  display: flex;
  gap: 30px;
  align-items: center;
  font-weight: 600;
  font-size: 20px;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 15px 20px;
}
.shop-now-button a:hover {
  color: #fff;
  background-color: #000;
}
.shop-now-button a:hover .arrow-right {
  display: none;
}
.arrow-right {
  width: 20px;
  height: auto;
}
.interactable-brand-info {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 15px;
}
.brand-info-reward h3 {
  font-size: 65px;
  font-weight: 600;
}
.brand-info-reward p {
  font-size: 12px;
}
.brand-info-reward {
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 160px;
  width: 280px;
  text-align: center;
  padding: 10px;
  box-shadow: 5px 5px 20px 0px #c9b8f5d8;
}
.brand-info-wallet {
  border: 1px solid #0000004d;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 160px;
  width: 280px;
  text-align: center;
  padding: 10px;
  box-shadow: 5px 5px 20px 7px #9393933b;
}
.brand-info-wallet h3 {
  font-size: 65px;
  font-weight: 600;
}
.brand-info-wallet p {
  font-size: 12px;
}
.product-row-section {
  display: flex;
  max-width: 650px;
  justify-content: center;
  margin: 50px auto 0px auto;
}
.section-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}
.section-image {
  flex: 1;
}
.section-image img {
  width: 100%;
  height: auto;
}

.section-text h3 {
  font-size: 25px;
  font-weight: 600;
}
.section-text h3 span {
  color: #b396ff;
}

.section-text-reverse {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}
.section-image-reverse {
  flex: 1;
}
.section-image-reverse img {
  width: 100%;
  height: auto;
}
.section-text-reverse h3 {
  font-size: 25px;
  font-weight: 600;
}
.section-text-reverse h3 span {
  color: #b396ff;
}
.how-setup-interact {
  text-align: center;
  width: 990px;
  margin: 50px auto 0px auto;
}
.how-setup-interact h2 {
  font-size: 25px;
  font-weight: 600;
}
.number-setup {
  margin: 30px 0px;
  width: 75%;
}
.how-setup-interact-cart {
  display: flex;
  gap: 60px;
}
.how-setup-interact-cart-inside img {
  width: 100%;
  height: auto;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.how-setup-interact-cart-inside {
  border: 1px solid #ccc;
  border-radius: 10px;
  flex: 1;
}
.how-setup-interact-cart-inside h4 {
  padding: 20px 15px 10px 15px;
  text-align: left;
  font-size: 20px;
  font-weight: 600;
}
.how-setup-interact-cart-inside h4 span {
  color: #b396ff;
}
.how-setup-interact-cart-inside p {
  padding: 0px 15px 20px 15px;
  text-align: left;
  font-weight: 400;
  color: #5e5e5e;
}
.interactive-frame {
  background: url('../image/interactiveframe.png') center center no-repeat;
  background-size: cover;
  margin: 50px auto 0px auto;
  border-radius: 25px;
  display: flex;
  gap: 20px;
  padding: 75px 100px;
  position: relative;
  width: 990px;
}
.interactive-frame-text {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}
.interactive-frame-text h3 {
  font-size: 35px;
  font-weight: 400;
}
.interactive-frame-text div {
  background-color: #965cff;
  padding: 12px 25px;
  max-width: fit-content;
  border-radius: 12px;
}
.interactive-frame-text div a {
  color: #fff;
}
.interactive-frame-text div a:hover {
  color: #fff;
}
.interactive-frame-text p {
  font-size: 13px;
  font-weight: 400;
  color: #5e5e5e;
}
.interactive-frame-image {
  flex: 1;
}
@media only screen and (min-width: 992px) and (max-width: 1022px) {
  .interactive-frame {
    padding: 110px 60px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  h1 {
    font-size: 60px;
  }
  video {
    width: 95%;
  }
  .product-row-section {
    grid-template-columns: repeat(
      1,
      1fr
    ); /* One column layout for mobile view */
  }
  .section-text {
    grid-column-start: 1;
    text-align: center;
    padding: 0px 70px;
  }
  .section-image {
    grid-column-start: 1;
  }
  .section-text-reverse {
    /* grid-column-start: 1;
    text-align: center;
    padding: 0px 70px; */
    display: none;
  }
  .how-setup-interact-cart {
    gap: 15px;
  }
  .section-image-reverse {
    grid-column-start: 1;
    display: none;
  }
  .interactive-frame {
    padding: 110px 60px;
  }
}
