:root {
  --marginvalue: 50px;
}

h1 {
  margin-top: var(--marginvalue);
  font-size: 85px;
  font-weight: 600;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
h1 span {
  color: #b396ff;
}
.video {
  display: flex;
  justify-content: center;
}
video {
  width: 1000px;
  height: auto;
  margin-top: var(--marginvalue);
  border-radius: 5px;
  box-shadow: 5px 5px 20px 0px #00000040;
}
.shop-now-button {
  display: flex;
  justify-content: center;
  margin-top: var(--marginvalue);
}
.shop-now-button a {
  display: flex;
  gap: 30px;
  align-items: center;
  font-weight: 600;
  font-size: 20px;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 15px 20px;
}
.shop-now-button a:hover {
  color: #fff;
  background-color: #000;
}
.shop-now-button a:hover .arrow-right {
  display: none;
}
.arrow-right {
  width: 20px;
  height: auto;
}
.interactable-brand-info {
  display: flex;
  justify-content: center;
  margin-top: var(--marginvalue);
  gap: 15px;
}
.brand-info-reward h3 {
  font-size: 65px;
  font-weight: 600;
}
.brand-info-reward p {
  font-size: 12px;
}
.brand-info-reward {
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 160px;
  width: 280px;
  text-align: center;
  padding: 10px;
  box-shadow: 5px 5px 20px 0px #c9b8f5d8;
}
.brand-info-wallet {
  border: 1px solid #0000004d;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 160px;
  width: 280px;
  text-align: center;
  padding: 10px;
  box-shadow: 5px 5px 20px 7px #9393933b;
}
.brand-info-wallet h3 {
  font-size: 65px;
  font-weight: 600;
}
.brand-info-wallet p {
  font-size: 12px;
}
.product-row-section {
  display: flex;
  max-width: 650px;
  justify-content: center;
  margin: var(--marginvalue) auto 0px auto;
}
.product-row-section-reverse {
  display: flex;
  max-width: 650px;
  justify-content: center;
  margin: var(--marginvalue) auto 0px auto;
}
.section-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}
.section-image {
  flex: 1;
}
.section-image img {
  width: 100%;
  height: auto;
}

.section-text h3 {
  font-size: 25px;
  font-weight: 600;
}
.section-text h3 span {
  color: #b396ff;
}

.section-text-reverse {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}
.section-image-reverse {
  flex: 1;
}
.section-image-reverse img {
  width: 100%;
  height: auto;
}
.section-text-reverse h3 {
  font-size: 25px;
  font-weight: 600;
}
.section-text-reverse h3 span {
  color: #b396ff;
}
.how-setup-interact {
  text-align: center;
  width: 1350px;
  margin: var(--marginvalue) auto 0px auto;
}
.how-setup-interact h2 {
  font-size: 25px;
  font-weight: 600;
}
.number-setup {
  margin: 30px 0px;
  width: 75%;
}
.how-setup-interact-cart {
  display: flex;
  gap: 60px;
}
.how-setup-interact-cart-inside img {
  width: 100%;
  height: auto;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.how-setup-interact-cart-inside {
  border: 1px solid #ccc;
  border-radius: 10px;
  flex: 1;
}
.how-setup-interact-cart-inside h4 {
  padding: 20px 15px 10px 15px;
  text-align: left;
  font-size: 20px;
  font-weight: 600;
}
.how-setup-interact-cart-inside h4 span {
  color: #b396ff;
}
.how-setup-interact-cart-inside p {
  padding: 0px 15px 20px 15px;
  text-align: left;
  font-weight: 400;
  color: #5e5e5e;
}
.interactive-frame {
  background: url("../image/interactiveframe.png") center center no-repeat;
  background-size: cover;
  margin: var(--marginvalue) auto 0px auto;
  border-radius: 25px;
  display: flex;
  gap: 20px;
  padding: 135px 100px;
  position: relative;
  width: 1350px;
}
.interactive-frame-text {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}
.interactive-frame-text h3 {
  font-size: 35px;
  font-weight: 400;
}
.interactive-frame-text div {
  background-color: #965cff;
  padding: 12px 25px;
  max-width: fit-content;
  border-radius: 12px;
}
.interactive-frame-text div a {
  color: #fff;
}
.interactive-frame-text div a:hover {
  color: #fff;
}
.interactive-frame-text p {
  font-size: 13px;
  font-weight: 400;
  color: #5e5e5e;
}
.interactive-frame-image {
  flex: 1;
}
@media only screen and (min-width: 992px) and (max-width: 1375px) {
  .interactive-frame {
    width: 985px;
    padding: 70px 60px;
  }
  .how-setup-interact {
    width: 985px;
  }
  h1 {
    font-size: 60px;
  }
  video {
    width: 850px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  h1 {
    font-size: 50px;
  }
  video {
    width: 95%;
  }
  .section-text {
    grid-column-start: 1;
    text-align: center;
    padding: 0px 70px;
  }
  .section-text-reverse {
    grid-column-start: 1;
    text-align: center;
    padding: 0px 70px;
  }
  .how-setup-interact {
    width: 750px;
  }
  .how-setup-interact-cart {
    gap: 10px;
  }
  .how-setup-interact-cart-inside p {
    font-size: 13px;
  }
  .interactive-frame-text h3 {
    font-size: 30px;
  }
  .interactive-frame-text div a {
    font-size: 13px;
  }
  .interactive-frame-text div {
    padding: 5px 15px;
  }
  .interactive-frame {
    width: 750px;
    padding: 44px 60px;
  }
}
@media only screen and (min-width: 560px) and (max-width: 767px) {
  h1 {
    font-size: 40px;
  }
  video {
    width: 95%;
  }
  .section-text {
    text-align: center;
    padding: 0px 70px;
  }
  .section-text-reverse {
    text-align: center;
    padding: 0px 70px;
  }
  .how-setup-interact {
    width: 550px;
  }
  .how-setup-interact p {
    font-size: 12px;
  }
  .how-setup-interact-cart {
    gap: 40px;
    flex-direction: column;
    margin: 25px auto 0px auto;
  }
  .how-setup-interact-cart-inside {
    margin: auto auto;
    width: 530px;
  }
  .how-setup-interact-cart-inside p {
    font-size: 13px;
  }
  .interactive-frame-text h3 {
    font-size: 18px;
    line-height: 25px;
  }
  .brand-info-reward {
    height: 150px;
    width: 240px;
  }
  .brand-info-wallet {
    height: 150px;
    width: 240px;
  }
  .interactive-frame-text div a {
    font-size: 11px;
    font-weight: 500;
  }
  .interactive-frame-text div {
    padding: 5px 12px;
    display: flex;
  }
  .interactive-frame-text p {
    font-size: 10px;
  }
  .number-setup {
    display: none;
  }
  .interactive-frame {
    background: url("../image/interactiveframeMobile.png") center center
      no-repeat;
    background-size: cover;
    border-radius: 25px;
    gap: 0px;
    padding: 35px 50px;
    width: 550px;
    height: 425px;
  }
  .interactive-frame-text {
    gap: 5px;
    position: absolute;
    right: 90px;
    top: 45px;
  }
}
@media only screen and (min-width: 450px) and (max-width: 559px) {
  :root {
    --marginvalue: 25px;
  }
  h1 {
    font-size: 32px;
  }
  video {
    width: 95%;
  }
  .section-text {
    text-align: center;
    padding: 0px 70px;
  }
  .brand-info-reward h3,
  .brand-info-wallet h3 {
    font-size: 40px;
  }

  .brand-info-reward,
  .brand-info-wallet {
    height: 130px;
    width: 160px;
  }
  .interactable-brand-info {
    gap: 10px;
  }
  .section-text p,
  .section-text-reverse p {
    font-size: 14px;
  }
  .section-text h3,
  .section-text-reverse h3 {
    font-size: 22px;
  }
  .section-text-reverse {
    text-align: center;
    padding: 0px 70px;
  }
  .how-setup-interact {
    width: 450px;
  }
  .how-setup-interact h2 {
    font-size: 20px;
  }
  .shop-now-button a {
    gap: 15px;
    font-size: 18px;
    padding: 5px 10px;
  }
  .how-setup-interact p {
    font-size: 16px;
  }
  .how-setup-interact-cart {
    gap: 20px;
    flex-direction: column;
    margin: 25px auto 0px auto;
  }
  .how-setup-interact-cart-inside {
    margin: auto auto;
    width: 440px;
  }
  .how-setup-interact-cart-inside p {
    font-size: 13px;
  }
  .interactive-frame-text h3 {
    font-size: 18px;
    line-height: 25px;
  }
  .interactive-frame-text div a {
    font-size: 11px;
    font-weight: 500;
  }
  .interactive-frame-text div {
    padding: 5px 12px;
    display: flex;
  }
  .interactive-frame-text p {
    font-size: 10px;
  }
  .number-setup {
    display: none;
  }
  .interactive-frame {
    background: url("../image/interactiveframeMobile.png") center center
      no-repeat;
    background-size: cover;
    border-radius: 25px;
    gap: 0px;
    padding: 35px 50px;
    width: 440px;
    height: 360px;
  }
  .interactive-frame-text {
    gap: 5px;
    position: absolute;
    right: 38px;
    top: 25px;
  }
  .product-row-section {
    flex-direction: column;
  }
  .product-row-section-reverse {
    flex-direction: column-reverse;
  }
}
@media only screen and (min-width: 350px) and (max-width: 449px) {
  :root {
    --marginvalue: 25px;
  }
  h1 {
    font-size: 25px;
  }
  video {
    width: 95%;
  }
  .section-text {
    text-align: center;
    padding: 0px 70px;
  }
  .brand-info-reward h3,
  .brand-info-wallet h3 {
    font-size: 40px;
  }

  .brand-info-reward,
  .brand-info-wallet {
    height: 130px;
    width: 160px;
  }
  .interactable-brand-info {
    gap: 10px;
  }
  .section-text p,
  .section-text-reverse p {
    font-size: 14px;
  }
  .section-text h3,
  .section-text-reverse h3 {
    font-size: 22px;
  }
  .section-text-reverse {
    text-align: center;
    padding: 0px 70px;
  }
  .how-setup-interact {
    width: 350px;
  }
  .how-setup-interact h2 {
    font-size: 20px;
  }
  .shop-now-button a {
    gap: 15px;
    font-size: 18px;
    padding: 5px 10px;
  }
  .how-setup-interact p {
    font-size: 12px;
  }
  .how-setup-interact-cart {
    gap: 20px;
    flex-direction: column;
    margin: 25px auto 0px auto;
  }
  .how-setup-interact-cart-inside {
    margin: auto auto;
    width: 340px;
  }
  .how-setup-interact-cart-inside p {
    font-size: 13px;
  }
  .interactive-frame-text h3 {
    font-size: 13px;
    line-height: 18px;
  }
  .interactive-frame-text div a {
    font-size: 11px;
    font-weight: 500;
  }
  .interactive-frame-text div {
    padding: 5px 12px;
    display: flex;
  }
  .interactive-frame-text p {
    font-size: 10px;
  }
  .number-setup {
    display: none;
  }
  .interactive-frame {
    background: url("../image/interactiveframeMobile.png") center center
      no-repeat;
    background-size: cover;
    border-radius: 25px;
    gap: 0px;
    padding: 35px 50px;
    width: 340px;
    height: 260px;
  }
  .interactive-frame-text {
    gap: 5px;
    position: absolute;
    right: 38px;
    top: 10px;
  }
  .product-row-section {
    flex-direction: column;
  }
  .product-row-section-reverse {
    flex-direction: column-reverse;
  }
}
